<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-secure-storage"
    version="2.6.8-OS12">

    <name>SecureStorage</name>
    <author>Crypho AS</author>

    <description>
        Secure, encrypted storage for cordova apps in iOS and Android.
    </description>

    <license>MIT</license>

    <keywords>keychain, encryption, security</keywords>

    <js-module src="www/securestorage.js" name="SecureStorage">
        <clobbers target="SecureStorage" />
    </js-module>

    <js-module src="www/sjcl_ss.js" name="sjcl_ss">
        <runs/>
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SecureStorage">
                <param name="ios-package" value="SecureStorage"/>
            </feature>
            <preference name="deployment-target" value="13" />
            <preference name="UseSwiftLanguageVersion" value="5" />
        </config-file>
        
        <source-file src="src/ios/SecureStorage.swift"/>
        <framework src="src/ios/frameworks/OSCore.xcframework" embed="true" custom="true" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod options=":git => 'https://github.com/OutSystems/OSKeyStoreLib-iOS.git', :tag => '0.1.0'" />
            </pods>
        </podspec>

    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SecureStorage" >
                <param name="android-package" value="com.crypho.plugins.SecureStorage"/>
            </feature>
        </config-file>

        <source-file src="src/android/AES.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/IntentRequest.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/IntentRequestQueue.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/IntentRequestType.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/RSA.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/SecureStorage.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/SharedPreferencesHandler.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/TransitionValue.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/EncryptionExecutor.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/DecryptionExecutor.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/ExecutorResult.java" target-dir="src/com/crypho/plugins/" />
        <source-file src="src/android/ExecutorResultType.java" target-dir="src/com/crypho/plugins/" />

    </platform>

    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="SecureStorage">
                <param name="browser-package" value="SecureStorage" />
            </feature>
        </config-file>
    </platform>

    <platform name="windows">
        <js-module src="src/windows/SecureStorage.js" name="SecureStorageWindowsImpl">
            <runs />
        </js-module>
    </platform>

</plugin>
